<section class="section" style="background-color: #f3f3f3;">
    <div class="section__container">
        <div class="section__header">
            <h2 class="section__heading">Section Heading H2</h2>
            {# <p class="section__annotation">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi tempus imperdiet nulla malesuada pellentesque.</p> #}
        </div>
        <div class="section__content">
            <p>Mauris a diam maecenas sed enim ut. Adipiscing elit ut aliquam purus sit amet luctus venenatis. Egestas quis ipsum suspendisse ultrices gravida dictum. Nunc sed velit dignissim sodales ut eu. Ut faucibus pulvinar elementum integer. Eu consequat ac felis donec et odio. Dignissim diam quis enim lobortis. Risus pretium quam vulputate dignissim. Ac tincidunt vitae semper quis lectus nulla at. Dignissim sodales ut eu sem integer vitae justo. Nunc scelerisque viverra mauris in aliquam sem. Justo eget magna fermentum iaculis eu non diam. Nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus. Pharetra vel turpis nunc eget. Vel fringilla est ullamcorper eget nulla facilisi etiam.</p>
            <p>Suspendisse in est ante in nibh. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Elementum integer enim neque volutpat ac tincidunt vitae semper. Convallis aenean et tortor at risus viverra adipiscing at. Euismod elementum nisi quis eleifend quam adipiscing. Nec sagittis aliquam malesuada bibendum arcu vitae elementum. Neque laoreet suspendisse interdum consectetur libero. Eget magna fermentum iaculis eu non diam phasellus vestibulum. Turpis egestas pretium aenean pharetra magna. Nunc pulvinar sapien et ligula ullamcorper. Quis enim lobortis scelerisque fermentum dui.</p>
        </div>
        <div class="section__footer">
            <a class="btn-primary" href="#">btn-primary</a>
            <a class="btn-secondary" href="#">btn-secondary</a>
        </div>
    </div>
</section>
<section class="section" style="background-color: #f3f3f3;">
    <div class="section__container">
        <div class="section__header">
            <h2 class="section__heading">Section Heading H2</h2>
            {# <p class="section__annotation">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi tempus imperdiet nulla malesuada pellentesque.</p> #}
        </div>
        <div class="section__content">
            <p>Mauris a diam maecenas sed enim ut. Adipiscing elit ut aliquam purus sit amet luctus venenatis. Egestas quis ipsum suspendisse ultrices gravida dictum. Nunc sed velit dignissim sodales ut eu. Ut faucibus pulvinar elementum integer. Eu consequat ac felis donec et odio. Dignissim diam quis enim lobortis. Risus pretium quam vulputate dignissim. Ac tincidunt vitae semper quis lectus nulla at. Dignissim sodales ut eu sem integer vitae justo. Nunc scelerisque viverra mauris in aliquam sem. Justo eget magna fermentum iaculis eu non diam. Nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus. Pharetra vel turpis nunc eget. Vel fringilla est ullamcorper eget nulla facilisi etiam.</p>
            <p>Suspendisse in est ante in nibh. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Elementum integer enim neque volutpat ac tincidunt vitae semper. Convallis aenean et tortor at risus viverra adipiscing at. Euismod elementum nisi quis eleifend quam adipiscing. Nec sagittis aliquam malesuada bibendum arcu vitae elementum. Neque laoreet suspendisse interdum consectetur libero. Eget magna fermentum iaculis eu non diam phasellus vestibulum. Turpis egestas pretium aenean pharetra magna. Nunc pulvinar sapien et ligula ullamcorper. Quis enim lobortis scelerisque fermentum dui.</p>
        </div>
        <div class="section__footer">
            <a class="btn-primary" href="#">btn-primary</a>
            <a class="btn-secondary" href="#">btn-secondary</a>
        </div>
    </div>
</section>