@import '../../../styles/variables.scss';
@import '../../../styles/mixins/index.scss'; 

.demo-buttons{
    $gap: $text-margin;

    &__container{
        @include l-container;
        padding: 40px 0;
    }

    &__list{
        @include grid($gap);
    }

    &__item{
        @include grid-col(1, $gap);
        margin-bottom: $gap;
        padding: 15px;
        background: #eeeeee;
        border-radius: $block-border-radius;

        @media (min-width: $mobile) {
            @include grid-col(1/2, $gap);
        }

        &-code{
            display: block;
            padding: 5px;
            background: #f7f7f7;
            border-radius: $block-border-radius;
            margin-top: $text-margin;
            overflow-y: scroll;

            pre{
                margin: 3px 0;
                font-size: 80%;
            }
        }
    }    
    
    &__btn{
        &-primary{
            @include btn;
            @include btn-primary;
        }

        &-secondary{
            @include btn;
            @include btn-secondary;
        }

        &-whatsapp{
            @include btn;
            @include btn-whatsapp;
        }

        &-custom-filled{
            @include btn;
            @include btn-fill($color-primary-light, $color-secondary-light);
            @include btn-color(#fff);
        }

        &-custom-bordered{
            @include btn;
            @include btn-fill(#fff, $color-secondary-dark);
            @include btn-border($color-secondary, $color-secondary-dark);
            @include btn-color($color-secondary, #fff);
        }

        &-custom-filled-icon-left{
            @include btn;
            @include btn-fill($color-primary-light, $color-secondary-light);
            @include btn-color(#fff);
        }

        &-custom-bordered-icon-right{
            @include btn;
            @include btn-fill(#fff, $color-secondary-dark);
            @include btn-border($color-secondary, $color-secondary-dark);
            @include btn-color($color-secondary, #fff);
        }

        &-custom-filled-icon-double{
            @include btn;
            @include btn-fill($color-primary-light, $color-secondary-light);
            @include btn-color(#fff);
        }

        &-primary-center{
            @include btn;
            @include btn-primary;
            @include btn-center;
            width: 200px;
        }

        &-primary-fullwidth{
            @include btn;
            @include btn-primary;
            @include btn-fullwidth;
        }
    }
}
