<div class="demo-colors">
    <div class="demo-colors__container">

        <h2>Colors Accent</h2>
        
        <div class="demo-colors__list -accent">
            <div class="demo-colors__item">
                <div class="demo-colors__item-color -color-primary-dark">$color-primary-dark</div>
                <div class="demo-colors__item-color -color-primary">$color-primary</div>
                <div class="demo-colors__item-color -color-primary-light">$color-primary-light</div>
            </div>
            <div class="demo-colors__item">
                <div class="demo-colors__item-color -color-secondary-dark">$color-secondary-dark</div>
                <div class="demo-colors__item-color -color-secondary">$color-secondary</div>
                <div class="demo-colors__item-color -color-secondary-light">$color-secondary-light</div>
            </div>
        </div>

        <h2>Colors Utils</h2>

        <div class="demo-colors__list -utils">
            <div class="demo-colors__item -danger">
                <div class="demo-colors__item-color -color-danger-dark">$color-danger-dark</div>
                <div class="demo-colors__item-color -color-danger">$color-danger</div>
                <div class="demo-colors__item-color -color-danger-light">$color-danger-light</div>
            </div>
            <div class="demo-colors__item -warn">
                <div class="demo-colors__item-color -color-warn-dark">$color-warn-dark</div>
                <div class="demo-colors__item-color -color-warn">$color-warn</div>
                <div class="demo-colors__item-color -color-warn-light">$color-warn-light</div>
            </div>
            <div class="demo-colors__item -success">
                <div class="demo-colors__item-color -color-success-dark">$color-success-dark</div>
                <div class="demo-colors__item-color -color-success">$color-success</div>
                <div class="demo-colors__item-color -color-success-light">$color-success-light</div>
            </div>
        </div>

    </div>
</div>
