body {
    font-family: $font-primary;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: $color-text;
}

a {
    color: $color-primary;
    transition: $transition-default;

    &:hover {
        text-decoration: none;
    }
}

/*====================================================================================================================*/
/*                                                     HEADING                                                        */
/*====================================================================================================================*/

h1 {
    font-family: $font-heading;
    font-weight: 600;
    font-size: 32px;
    line-height: 109%;
    margin: $text-margin * 2.5 0 $text-margin;
    color: $color-heading;

    @media (min-width: $mobile) {
        font-size: 46px;
        margin: $text-margin * 2.5 0 $text-margin;
    }

    .home-page & {
        // some styles
    }
}

h2 {
    font-family: $font-heading;
    font-weight: 600;
    font-size: 24px;
    line-height: 137%;
    margin: $text-margin * 2 0 $text-margin;
    color: $color-heading;

    @media (min-width: $mobile) {
        font-size: 30px;
        margin: $text-margin * 2 0 $text-margin;
    }

    .home-page & {
        // some styles
    }
}

h3 {
    font-family: $font-heading;
    font-weight: 600;
    font-size: 18px;
    line-height: 137%;
    margin: $text-margin * 1.5 0 $text-margin;
    color: $color-heading;

    @media (min-width: $mobile) {
        font-size: 22px;
        margin: $text-margin * 1.5 0 $text-margin;
    }
}

h1,
h2,
h3 {
    a {
        display: inline;
        color: $color-heading;
        text-decoration: none;
        border-bottom: 1px solid $color-heading;

        &:hover {
            border-bottom: 1px solid transparent;
        }
    }
}

/*====================================================================================================================*/
/*                                                      TEXT                                                          */
/*====================================================================================================================*/

p,
ul,
ol,
table,
pre {
    line-height: 140%;
    margin: $text-margin 0;
}

.grid {
    margin-bottom: $text-margin;
}

ul,
ol {
    padding-left: 22px;
    li {
        margin: 3px 0;
    }
}

p + ul,
p + ol {
    margin-top: -($text-margin - 3px);
}
