<div class="l-container">
    <h2>Tabs</h2>
    <div class="tabs js-tabs">
        <div class="tabs__nav">
            <span class="tabs__nav-item" data-tabs-nav-items>Tab 1</span>
            <span class="tabs__nav-item" data-tabs-nav-items>Tab 2</span>
            <span class="tabs__nav-item" data-tabs-nav-items>Tab 3</span>
        </div>
        <div class="tabs__content">
            <div class="tabs__content-item" data-tabs-content-items>Tab Content 1</div>
            <div class="tabs__content-item" data-tabs-content-items>Tab Content 2</div>
            <div class="tabs__content-item" data-tabs-content-items>Tab Content 3</div>
        </div>
    </div>
</div>
