<div class="hero-usp">
    <div class="hero-usp__container">
        <div class="hero-usp__text">
            <div class="hero-usp__text-wrap">
                <h1>Unique Selling <br> Proposition</h1>
                <p>A few words about the offer. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, exercitationem?</p>
                <button class="hero-usp__text-btn">Book Now</button>
            </div>
        </div>
        <div class="hero-usp__img">
            <img src="https://via.placeholder.com/668x460?text=Relevant+image" alt="">
        </div>
    </div>
    
</div>