/* миксины элементов сетки */
@mixin grid($grid-gap){
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  
    margin-left: -$grid-gap/2;
    margin-right: -$grid-gap/2;
  
    &>*{
        margin-left: $grid-gap/2;
        margin-right: $grid-gap/2;
    }
}
  
/* миксины устанавливающие стандартный размер блоков и отступов*/
@mixin grid-col($grid-width, $grid-gap){
    width: #{'calc(' + $grid-width * 100% + ' - ' +  $grid-gap + ')'};
}

@mixin grid-col-offset($grid-width, $grid-gap){
    margin-left: #{'calc(' + $grid-width * 100% + ' + ' +  $grid-gap/2 + ')'};
}
