.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-left: -$grid-gap/2;
    margin-right: -$grid-gap/2;

    overflow: hidden; 

    [class *= "col-"] {
        margin-left: $grid-gap/2;
        margin-right: $grid-gap/2;
        margin-bottom: $grid-gap-bottom;
    }

    .col-1-1{
        margin-bottom: 0;
    }

    .row{
        display: flex;
        width: 100%;
    }
}

/*==========================================================================================*/
/*  Генерируем классы для инлайнового варианта  */
/*==========================================================================================*/

@mixin grid-sizer($total-columns, $screen-prefix){
    $col-widths: ();   // вспомогательный массив, в котором будут храниться размеры
    // генерируем дробные размеры
    @for $i from 1 through $total-columns {
        @for $j from 1 through $i {
            // определяем текущий размеры
            $width: ($j/$i);
            // если такого размера ещё не было, то создаём стили
            @if not index($col-widths, $width) {
                $width-col: 'calc(' + $width * 100% + ' - ' +  $grid-gap + ')';
                // разделение на медиа
                @if($screen-prefix != ''){
                    .col-#{$screen-prefix}-#{$j}-#{$i} {
                        width:  unquote($width-col);
                    }
                }
                // и стандартные
                @else {
                    .col-#{$j}-#{$i} {
                        width:  unquote($width-col);
                    }
                }
                // и записываем размер в массив существуюих размеров
                $col-widths: append($col-widths, $width, comma);
            }
        }
    }
}

@mixin grid-sizer-media($total-columns, $breakpoints){
    // проходим про всем разрешениям и генерируем медиа запросы
    @each $screen-prefix, $screen-size in $breakpoints {
        @media (min-width: $screen-size) {
            @include grid-sizer($total-columns, $screen-prefix);
        }
    }
}

@mixin grid-init($total-count) {
    @include grid-sizer($total-count, '');
    @include grid-sizer-media($total-count, $breakpoints);
}
