/*====================================================================================================================*/
/*                                                      MEDIA                                                         */
/*====================================================================================================================*/
$mobile: 980px;
$xxs: 375px;     /* iphone X в портретной ориентации */
$xs: 414px;      /* iphone plus в портретной ориентации */
$sm: 568px;      /* iphone X в альбомной ориентации */
$md: 768px;      /* планшеты в портретной ориентации / телефоны в альбомной */
$lg: 1024px;     /* планшеты в альбомной ориентации */
$xl: 1280px;     /* ноутбуки */
$xxl: 1600px;  

$breakpoints: (
    xxs: $xxs,
    xs: $xs,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl,
    xxl: $xxl,
) !default;


/*====================================================================================================================*/
/*                                                      LAYOUT                                                        */
/*====================================================================================================================*/

$content-width: 1170px;  /* ширина контена */
$content-gap: 15px;      /* боковой отступ контента ( на адаптиве ) */

$grid-gap: 26px;         /* отступ по вертикали для inline-grid */
$grid-gap-bottom: 20px;  /* отступ по вертикали для inline-grid  */


/*====================================================================================================================*/
/*                                                      FONTS                                                         */
/*====================================================================================================================*/

$font-primary: 'Roboto', sans-serif;             /* основной шрифт */
$font-secondary: $font-primary;                  /* дополнительный шрифт если есть*/
$font-size-base: 16px;                           /* базовый размер шрифта */
$font-weight-base: 400;
$line-height-base: 131%;                         /* базовый междустрочный интервал */

$font-heading: $font-primary;                    /* шрифт для заголовков*/

$text-margin: 15px;                              /* отступ между элементами в тексте */

/*====================================================================================================================*/
/*                                                      COLORS                                                        */
/*====================================================================================================================*/

$color-text: #16181F;                 /* базовый цвет текста */
$color-text-invert: #F4F5F7;          /* инвертированый цвет текста */
$color-heading: $color-text;
$color-heading-invert: $color-text-invert;

$color-primary: #0052CC;
$color-primary-dark: #0747A6;
$color-primary-light: #0065FF;
$color-primary-invert: #B3D4FF;
$color-secondary: #5243AA;
$color-secondary-dark: #403294;
$color-secondary-light: #6554C0;
$color-secondary-invert: #C0B6F2;

$color-danger: #DE350B;
$color-danger-dark: #B92500;
$color-danger-light: #FF5630;
$color-warn: #FF991F;
$color-warn-dark: #FF8B00;
$color-warn-light: #FFAB00;
$color-success: #00875A;
$color-success-dark: #006644;
$color-success-light: #2CBD80;
$color-disable: #cdd1d3;

/*====================================================================================================================*/
/*                                                      BLOCKS                                                        */
/*====================================================================================================================*/

$block-border-radius: 5px;
$border-radius-btn: 20px;


/*====================================================================================================================*/
/*                                                    TRANSITION                                                      */
/*====================================================================================================================*/

$transition-time-fast: 0.2s;
$transition-time-default: 0.3s;
$transition-time-slow: 0.5s;

$transition-fast: all$transition-time-fast ease-in;
$transition-default: all $transition-time-default ease-in;
$transition-slow: all $transition-time-slow ease-in;
